<h1>Write a review!</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%=f.input :content %>
  <%=f.submit class: 'btn btn-primary' %>
<% end %>
